bump2version==1.0.1
tox==4.21.0
flake8==4.0.1
watchdog==2.1.6
wheel==0.37.1
flask==2.0.3
coverage==6.3.2
Sphinx==4.4.0
twine==3.8.0
pytest==7.1.1
black==22.1.0
setuptools==60.10.0
SQLAlchemy>=1.4.32
oso==0.26.0
sqlalchemy_oso==0.26.0
blinker>=1.4.0
