bump2version==1.0.1
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
flask==2.0.3
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0
Click==7.1.2
pytest==6.2.4
black==21.7b0
setuptools~=60.8.2
SQLAlchemy>=1.4.32
oso==0.26.0
sqlalchemy_oso==0.26.0
blinker>=1.4.0
